.layout {
  background-color: #21252b;
  color: #9da5ab;
  display: flex;
  height: 100vh;
  overflow-y: auto;
  .tree-view {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px 0 0;
  }
  .description {
    width: 50%;
    padding: 20px 20px 0;
    border-left: 1px solid #9da5ab;
    dl {
      margin: 0;
    }
  }
}
